.app {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 120px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  font-size: 20px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  width: auto;
  align-items: center;
  gap: 7px;
}
.res-card {
  background-color: #fff;
  border-radius: 25px;
  margin: 5px;
  width: 240px;
  height: 400px;
  box-shadow: -1px 5px 10px 5px #70707033;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-logo {
  border-radius: 25px;
  width: 100%;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  width: auto;
  align-items: center;
  gap: 7px;
}
.shimmer-card {
  background-color: #f0f0f0;
  border-radius: 25px;
  margin: 5px;
  width: 240px;
  height: 400px;
}
.login {
  padding: 0 20px;
  cursor: pointer;
}
.filter {
  display: flex;
}
.link {
  color: #000;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.res-card-info-container {
  padding: 5px;
}
